Source: mobile-settings
Section: utils
Priority: optional
Maintainer: Cédric Bellegarde <cedric.bellegarde@adishatz.org>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.6.2
Homepage: https://github.com/gnumdk-mobile/mobile-settings
#Vcs-Browser: https://github.com/gnumdk-mobile/mobile-settings
#Vcs-Git: https://github.com/gnumdk-mobile/mobile-settings.git

Package: mobile-settings
Architecture: any
Depends:
 dbus,
 ${shlibs:Depends},
 ${misc:Depends},
Description: Allows tweaking OS from userspace.